[flake8]
max-line-length = 88
extend-ignore = E203, W503
select = E, F, W, C90
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .mypy_cache,
    .pytest_cache,
per-file-ignores = 
    services/search_words/get_search_words_for_event_sites.py:E501